@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
	font-family: Areal, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

h1,
h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 5px auto; 
	padding: 10px 15px; 
	border:2px solid #333; 
	border-radius:15px; 
	box-shadow:0 2px 7px rgba(0, 0, 0, .6); 
	background: #ccc;
	text-align: center;
	overflow: hidden;
}

figure {
    background: #DDDDDD; 
    display: inline-block; 
    width: 210px;   
    vertical-align: middle;    
    margin: 1.2em; 
    text-align: center; 
   	padding-top: 5px;
    padding-bottom: 0;
   }
  
